@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark-border * {
    @apply border-black dark:border-white;
  }
}

@layer components {
  body {
    @apply dark:bg-black dark:text-white;
  }

  .button,
  button {
    @apply bg-slate-50 dark:bg-slate-800 w-fit p-1.5 drop-shadow-md dark:dark-shadow-sm border border-black dark:border-white cursor-pointer  transition-colors duration-200 ease-linear rounded;
  }

  .button:disabled,
  button:disabled {
    @apply bg-slate-300 drop-shadow-none dark:bg-slate-600;
    cursor: not-allowed;
  }

  .button:hover:not(:disabled),
  button:hover:not(:disabled) {
    @apply hover:bg-slate-200 dark:hover:bg-slate-500 drop-shadow-xl dark:dark-shadow-md;
  }

  input,
  textarea,
  select {
    @apply border border-black dark:border-white p-1 rounded drop-shadow-md bg-slate-50  dark:bg-slate-800;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  img {
    @apply border rounded;
  }
}
