@tailwind base;
@tailwind components;
@tailwind utilities;

.button,
button {
  @apply bg-slate-100 w-fit p-1.5 border border-black cursor-pointer  transition-colors duration-200 ease-linear;
}

button:disabled {
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  @apply hover:bg-slate-300;
}
