@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .button,
  button {
    @apply bg-slate-100 w-fit p-1.5 drop-shadow-md border border-black cursor-pointer  transition-colors duration-200 ease-linear rounded;
  }

  .button:disabled,
  button:disabled {
    @apply bg-slate-300 drop-shadow-none;
    cursor: not-allowed;
  }

  .button:hover:not(:disabled),
  button:hover:not(:disabled) {
    @apply hover:bg-slate-200 drop-shadow-xl;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  img {
    @apply border rounded;
  }
}
